#glCanvas { 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border-style: solid;
    visibility: none;
    border-width: 1px;
}

#credits { 
    text-align: center;
    font-size: 12px;
}

h3, p{
    display:inline;
}

.github-fork-ribbon.left-bottom:before {
    background-color: #11151f;
}

#loader {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#loadPercent{
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
}