#glCanvas { 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border-style: solid;
    border-width: 1px;
}

#credits { 
    text-align: center;
}

h3, p{
    display:inline;
}

.github-fork-ribbon.right-bottom:before {
    background-color: #11151f;
}

#spinner {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
 }